/* HOMEPAGE CSS DOC */

/* use for custom CSS classes on specific page */

/* ------------------------------------------- */
 

/* CAROUSEL CARDS CSS */
.carousel {
  max-width: 80%;
  padding-inline: 2.5rem;
  margin: auto;
}

.inner-card {
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    width: 60%;
}

.show-logo {
    max-width: 30%;
    margin-left: 6.2rem;
}

.show-description {
    font-size: 1.5rem;
    font-family: "olive-regular", sans-serif;
}
